@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* .container: The main wrapper for content with relative positioning and padding for footer */
.container {
    position: relative;   /* Allows for absolute positioning of child elements */
    min-height: calc(100svh - 8.8em);
    flex: 1;   /* Grow to fill available space */
    padding-bottom: 2em;
}

/* #footer: Footer styles with margin and color settings. 
Still trying to optimize stickiness and placement of this. */
#footer {
    position: absolute;
    margin: 0 .9em;
    font-size: 1.1em;
    bottom: 1em;
    padding: 8em 0 0 0;   /* Padding above footer...
    *** This padding is only needed because the background repeats otherwise :( */
}

/* body: Main body styles including background image and text settings */
body{
    /* background-color: #307D99; */
    background-image: url('../images/swing-bg.JPG');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    min-height: fit-content;   /* Trying to fix repeating image issue */
    color: white;
    scroll-behavior: smooth;
    display: flex;   /* Using flexbox layout */
    flex-direction: column;   /* Stack children vertically */
}

/* header: Not extremely happy with the gray background and offset of the 
background image to be below the header. Would like to have the header
over-top of the background image and blending in with it. */
header {
    /* min-height: 5svh; */
    background: linear-gradient(White,gray);
    padding: .7em;
}

/* .tdc-logo TO-DO: Replace with just logo when screen is small enough */
.tdc-logo {
    max-height: 3.2rem;
    padding: 0 0 0 2%;

}

/* Links: Pretty happy with link colors and behavior */
.gen-link:link, .gen-link:visited {
    text-decoration: none;
    color: rgb(89, 187, 248);
    font-weight: bold;
}
.footnote:link, .footnote:visited {
    color: black;
}
.gen-link:hover {
    color: rgb(131, 202, 253);
}
.footnote:hover, .gen-link:active {
    color: rgb(59, 59, 59);
}

/* .intro: "Hello!" section */
.intro {
    text-align: center;
    font-size: 1.2rem;   /* Larger font size than default */
    position: relative;
    margin: 5% 10% 0 45%;
    padding: 1rem;
    z-index: 1;
    color: white;
}

/* Pseudo-element for the .intro to create a background effect */
.intro::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: linear-gradient(black,black,rgba(31, 31, 31, 0.699));
    z-index: -1;
    inset: 0;   /* Stretch to cover parent */
}

@media (max-width: 960px) {
    body {
        background-size: cover;
        background-position-y: 4.8em;
        /* background-color: gray;
        *** Gray background was appearing on sides of phone in landscape mode
        but not in the resposive viewer on the computer */
    }
    
    .intro {
        display: block;
        margin: 8% 10%;
    }

}