

/* body: Main body styles including background image and text settings */
body{
    /* background-color: rgb(20,20,20); */
    background-color: black;
    background-image: url('/images/swing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(100% + 4.8em);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    min-height: fit-content;   /* Trying to fix repeating image issue */
    color: white;
    scroll-behavior: smooth;
    display: flex;   /* Using flexbox layout */
    flex-direction: column;   /* Stack children vertically */
    /* height: 100vh; */
}


/* .intro: "Hello!" section */
.intro {
    text-align: center;
    font-size: 1.2rem;   /* Larger font size than default */
    position: relative;
    margin: 5% 10% 0 45%;
    padding: 1rem;
    z-index: 1;
    color: white;
}

/* Pseudo-element for the .intro to create a background effect * /
.intro::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: linear-gradient(black,black,rgba(31, 31, 31, 0.699));
    z-index: -1;
    inset: 0;   /* Stretch to cover parent * /
}

/* Might switch out with newer image at some point * /
.tonyheadshot {
    display: block;
    max-width: 300px;
    z-index: 1;
    margin: -300px 10% 0;
    border-radius: 200px;
}

/* .swing: Would like to align this better with the swing in the background image 
Specifically in the media query section though * /
.swing {
    font-size: 1.3em;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 15% 15% 0;
    z-index: 4;
    color: white;
}

.swinging {
    font-style: italic;
}

/* Pseudo-element for .swing for a background effect * /
.swing::before {
    content: ' ';
    position: absolute;
    width: 14em;
    border-radius: 5px;
    transform: skew(-10deg);
    background: rgba(128, 60, 5, 0.6);
    height: 3em;
    bottom: -1em;
    z-index: -1;
    margin: 0 0 .2em -1.1em;
} */




@media (max-width: 960px) {

    .footnote {
        position: relative;
        bottom: .1em;
    }

    .intro {
        display: block;
        margin: 8% 10%;
    }

    /*
    .headshot-section {
        position: relative;
        margin: 5% auto;
        padding: 1rem;
    }

    /* Image is a little too large when close to max media width at 50vh,
    but gets a little too small when on thinner screen at 40vh * /
    .tonyheadshot {
        position: relative;
        margin: 0 auto;
        max-width: 45vw;
    }

    /* Would like to align better with swing in background image * /
    .swing {
        position: relative;
        margin: 5% auto;
        text-align: center;
    }

    .swing::before {
        content: ' ';
        position: absolute;
        width: 14em;    
        height: 3em;
        border-radius: 5px;
        background: rgba(128, 60, 5, 0.6);
        bottom: -1em;
        left: 52.5%;
        transform: translateX(-47.5%) skew(-10deg);
        z-index: -1;
        /* margin: 0 0 .2em -1.1em; * /
    }
} */

}