@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: rgb(131, 202, 253);
}

nav {
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 .7rem;
}

.logo {
    margin-right: auto;
}

nav .links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(131, 202, 253);
    color: black;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: black;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    position: absolute;
    top: 60px;
    right: 2rem;
    height: 0;
    width: 210px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 222px;
    padding: 10px 0;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-icon {
  width: 24px;
  height: 24px;
  fill: black;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

/* body: Main body styles including background image and text settings */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    background-image: url('/images/light-nobg.png'), url('/images/lion-solo.jpg');
    background-size: 960px;
    background-position: right -30vh, left calc(100% + 70vh); /* Initial position */
    transition: background-position 2s ease-in-out;
}

#home-body {
    background-image: url('/images/swing-bg.jpg');
    background-size: cover;
    background-position: center calc(100% + 4.8em);
    transition: none;
}

body.fly-in {
    background-position: right top, left calc(100% + 4.8em); /* Final position */
}

main.container {
    flex: 1; /* This expands to fill leftover space between header and footer */
    position: relative;
}

/* header: Not extremely happy with the gray background and offset of the 
background image to be below the header. Would like to have the header
over-top of the background image and blending in with it. */
header {
    position: relative;
    background: linear-gradient(White,gray);
    padding: .7em;
}

/* .tdc-logo TO-DO: Replace with just logo when screen is small enough */
.tdc-logo {
    max-height: 3.2rem;
}

footer {
    text-align: left;
    font-size: 1.1em;
    padding: .8em 0 14px 16px;
    z-index: 1;
}

/* Links: Pretty happy with link colors and behavior */
.gen-link:link, .gen-link:visited {
    text-decoration: none;
    color: rgb(89, 187, 248);
    font-weight: bold;}
.gen-link:hover {
    color: rgb(131, 202, 253);}

.footnote:link, .footnote:visited {
    color: rgb(200, 200, 200);}
.footnote:hover, .gen-link:active {
    color: rgb(230, 230, 230);}

#home-footnote:link, #home-footnote:visited {
    color: rgb(0, 0, 0);}
#home-footnote:hover, .gen-link:active {
    color: rgb(59, 59, 59);}
    

/* .intro: "Hello!" section */
.intro {
    text-align: center;
    font-size: 1.1rem;   /* Larger font size than default */
    position: relative;
    padding: 1rem;
    z-index: 1;
    color: white;
    margin: 5vh 15vw 25vh;
}

/* Shift "Intro" section to the right on home page */
#home-intro {
    margin: 5% 10% 0 45%;
}

/* Pseudo-element for the .intro to create a background effect */
.intro::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: linear-gradient(black,black,rgba(31, 31, 31, 0.699));
    z-index: -1;
    inset: 0;   /* Stretch to cover parent */
}

/* Might switch out with newer image at some point */
.tonyheadshot {
    display: block;
    z-index: 1;
    border-radius: 200px;
    max-width: 400px;
    margin: -350px calc(25vw - 200px) auto;
}

/* .swing: Would like to align this better with the swing in the background image 
Specifically in the media query section though */
.swing {
    font-size: 1.3em;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 18vh calc(25vw - 130px) auto;
    z-index: 4;
    color: white;
}

.swinging {
    font-style: italic;
}

/* Pseudo-element for .swing for a background effect */
.swing::before {
    content: ' ';
    position: absolute;
    width: 18rem;
    border-radius: 5px;
    transform: skew(-10deg);
    background: rgba(128, 60, 5, 0.6);
    height: 3.5rem;
    bottom: -1.25rem;
    z-index: -1;
    margin: 0 0 .2rem -1.1rem;
}

/* Center the resume thumbnail */
.resume {
    text-align: center;
    max-width: 100vw;
}

.resume-thumbnail {
     display: inline;
     margin-left: auto;
     margin-right: auto;
     max-width: 70vw;
     color: white;
}

.website-example {
    position: relative;
    margin: 3%;
    padding: 1rem;
    padding-top: 21px;
    z-index: 0;
    color: white;
    overflow: hidden;
    border-radius: 35px;
}

/* Pseudo-element for the .intro to create a background effect */
.website-example::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: linear-gradient(rgb(100,100,100,.93),black,rgba(31, 31, 31, 0.93));
    z-index: -1;
    inset: 0;   /* Stretch to cover parent */
}

/* Insert Code Here */
.website-example::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0; /* adjust to align with image top if needed */
    width: 120px; /* gradient width */
    height: 623px; /* same as your image max-height */

    background: linear-gradient(to left, rgba(0,0,0,0.85), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 2; /* above background but below text */
}

#hibana-example::after {
    height: 180px; /* same as your image max-height */
}

.wide-image {
    max-height: 601px;
    border-radius: 20px;
}

.ticket {
    max-height: 600px;
    padding-bottom: 20px;
}

#ticket14 {
    position: absolute;
    inset: 36px 60px;
    transform: rotate(6deg)
}

#christmas-tickets {
    max-height: 590px;
    position: absolute;
    inset: 33px;
    z-index: -1;
}

@media (max-width: 960px) {

    nav .links,
    nav .action_btn {
        display: none;
    }

    nav .toggle_btn {
        display: block
    }

    .dropdown_menu {
        display: block;
    }
    
    .footnote {
        position: relative;
        bottom: .1rem;
    }

    #home-intro, .intro {
        margin: 8% 10% 15%;
    }

    .headshot-section {
        position: relative;
        margin: 5% auto;
        padding: 1rem;
    }

    /* Image is a little too large when close to max media width at 50vh,
    but gets a little too small when on thinner screen at 40vh */
    .tonyheadshot {
        position: relative;
        max-width: 45vw;
        margin: 0 auto;
    }

    /* Would like to align better with swing in background image */
    .swing {
        margin: 10vh auto;
        text-align: center;
    }

    .swing::before {
        translate: -125px;
    }

    body {
        background-position: right -40vh, center calc(100% + 50vh);  /* Initial position for smaller screens */
        transition: background-position 1.2s ease-out;
    }

    body.fly-in {
        background-position: right top, center calc(100% + 4.8em); /* Final position for smaller screens */
    }

    #christmas-tickets, .ticket {
        max-height: 400px;
    }

    .wide-image {
        max-height: 412px;
    }

    .website-example::after {
        height: 433px
    }
}


@media (max-width: 400px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}