@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: rgb(131, 202, 253);
}

nav {
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 .7rem;
}

.logo {
    margin-right: auto;
}

nav .links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(131, 202, 253);
    color: black;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: black;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    position: absolute;
    top: 60px;
    right: 2rem;
    height: 0;
    width: 210px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 222px;
    padding: 5px 0;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu-icon {
  width: 24px;
  height: 24px;
  fill: black;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

/* body: Main body styles including background image and text settings */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    background-image: url('/images/swing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(100% + 4.8em);
    color: white;
    scroll-behavior: smooth;
}

main.container {
    flex: 1; /* This expands to fill leftover space between header and footer */
    position: relative;
}

footer {
    text-align: left;
    font-size: 1.1em;
    padding: .8em 0 14px 16px;
    z-index: 1;
}

/* header: Not extremely happy with the gray background and offset of the 
background image to be below the header. Would like to have the header
over-top of the background image and blending in with it. */
header {
    position: relative;
    background: linear-gradient(White,gray);
    padding: .7em;
}

/* .tdc-logo TO-DO: Replace with just logo when screen is small enough */
.tdc-logo {
    max-height: 3.2rem;
}

/* Links: Pretty happy with link colors and behavior */
.gen-link:link, .gen-link:visited {
    text-decoration: none;
    color: rgb(89, 187, 248);
    font-weight: bold;
}
.footnote:link, .footnote:visited {
    color: rgb(0, 0, 0);
}
.gen-link:hover {
    color: rgb(131, 202, 253);
}
.footnote:hover, .gen-link:active {
    color: rgb(59, 59, 59);
}

/* .intro: "Hello!" section */
.intro {
    text-align: center;
    font-size: 1.1rem;   /* Larger font size than default */
    position: relative;
    margin: 5% 10% 0 45%;
    padding: 1rem;
    z-index: 1;
    color: white;
}

/* Pseudo-element for the .intro to create a background effect */
.intro::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: linear-gradient(black,black,rgba(31, 31, 31, 0.699));
    z-index: -1;
    inset: 0;   /* Stretch to cover parent */
}

/* Might switch out with newer image at some point */
.tonyheadshot {
    display: block;
    max-width: 300px;
    z-index: 1;
    margin: -300px 10% 0;
    border-radius: 200px;
}

/* .swing: Would like to align this better with the swing in the background image 
Specifically in the media query section though */
.swing {
    font-size: 1.3em;
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 15% 15% 0;
    z-index: 4;
    color: white;
}

.swinging {
    font-style: italic;
}

/* Pseudo-element for .swing for a background effect */
.swing::before {
    content: ' ';
    position: absolute;
    width: 14em;
    border-radius: 5px;
    transform: skew(-10deg);
    background: rgba(128, 60, 5, 0.6);
    height: 3em;
    bottom: -1em;
    z-index: -1;
    margin: 0 0 .2em -1.1em;
}

/* Center the resume thumbnail */
.resume {
    text-align: center;
    max-width: 100vw;
}

.resume-thumbnail {
     display: inline;
     margin-left: auto;
     margin-right: auto;
     max-width: 70vw;
     color: white;
}

.website-example {
    margin: 3%;
}


@media (max-width: 960px) {

    nav .links,
    nav .action_btn {
        display: none;
    }

    nav .toggle_btn {
        display: block
    }

    .dropdown_menu {
        display: block;
    }


    body {
        background-size: cover;
        background-position-y: 4.8em;
        /* background-color: gray;
        *** Gray background was appearing on sides of phone in landscape mode
        but not in the resposive viewer on the computer */
    }
    
    .footnote {
        position: relative;
        bottom: .1em;
    }

    .intro {
        display: block;
        margin: 8% 10%;
    }

    .headshot-section {
        position: relative;
        margin: 5% auto;
        padding: 1rem;
    }

    /* Image is a little too large when close to max media width at 50vh,
    but gets a little too small when on thinner screen at 40vh */
    .tonyheadshot {
        position: relative;
        margin: 0 auto;
        max-width: 45vw;
    }

    /* Would like to align better with swing in background image */
    .swing {
        position: relative;
        margin: 5% auto;
        text-align: center;
    }

    .swing::before {
        content: ' ';
        position: absolute;
        width: 14em;    
        height: 3em;
        border-radius: 5px;
        background: rgba(128, 60, 5, 0.6);
        bottom: -1em;
        left: 52.5%;
        transform: translateX(-47.5%) skew(-10deg);
        z-index: -1;
        /* margin: 0 0 .2em -1.1em; */
    }
}