@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    height: 100%;
}

body{
    /* background-color: #307D99; */
    background-image: url('../images/swing-bg.JPG');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    color: white;
}

header {
    background: white;
    padding: .7em;
}

.tdc-logo {
    max-height: 3.2rem;
    padding: 0 0 0 2%;
}

.gen-link:link, .gen-link:visited {
    text-decoration: none;
    color: rgb(89, 187, 248);
    font-weight: bold;
}
.footnote:link, .footnote:visited {
    color: black;
}
.gen-link:hover {
    color: rgb(131, 202, 253);
}
.gen-link:active {
    color: rgb(59, 59, 59);
}

.intro {
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    margin: 5% 10% 0 45%;
    padding: 1rem;
    z-index: 1;
    color: white;
}

.intro::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: rgba(128, 60, 5, 0.6);
    z-index: -1;
    inset: 0;
}

.tonyheadshot {
    display: block;
    max-width: 18vw;
    z-index: 1;
    margin: 2% auto;
    border-radius: 200px;
}

.swing {
    font-size: 1.3em;
    position: absolute;
    left: 250px;
    bottom: 210px;
    z-index: 4;
    color: white;
    font-size-adjust: none;
}

.swinging {
    font-style: italic;
}

.swing::before {
    content: ' ';
    position: absolute;
    width: 14em;
    border-radius: 5px;
    transform: skew(-10deg);
    background: rgba(128, 60, 5, 0.6);
    height: 3em;
    bottom: 0;
    z-index: -1;
    margin: 0 0 .2em -1.1em;
}

footer {
    margin: 12px 0 20px 30px;
    position: absolute;
    font-size: 1.1em;
    bottom: 0;
    color: rgb(180, 180, 180);
}


/* 
@media (max-width: 1200px) {

    .intro::before {
        box-sizing: border-box;
        content: ' ';
        position: absolute;
        width: 30em;
        border-radius: 35px;
        background: rgba(128, 60, 5, 0.6);
        height: 15em;
        top: 0%;
        right: -30%;
        z-index: -1;
        margin: 0 0 .2em -1.1em;
    }
    
    .tonyheadshot {
        position: relative;
        margin: 15% 0% 0% 0%;
        z-index: 1;
        min-width: 25vw;
        border-radius: 200px;
    }
}



@media (max-width: 960px) {

    .intro::before {
        box-sizing: border-box;
        content: ' ';
        position: absolute;
        width: 30em;
        border-radius: 35px;
        background: rgba(128, 60, 5, 0.6);
        height: 15em;
        top: 0%;
        right: -30%;
        z-index: -1;
        margin: 0 0 .2em -1.1em;
    }
    
    .tonyheadshot {
        min-width: 25vw;
        position: relative;
        margin: 15% 0% 0% 0%;
        z-index: 1;
        border-radius: 200px;
    }
}




@media  (max-width: 768px){

    body {
    margin: 0px 0 100px 0;
    } 
   
    .header {
        min-height: 900px;
    }


    .footer {
        position: fixed;
        bottom: 0%;
    }

    .intro {
        box-sizing: border-box;
        text-align: center;
        font-size: 1em;
        position: absolute;
        margin: 10% 0 0 28%;
        top: 8%;
        z-index: 1;
        color: white;
    }
    
    .intro::before {
        box-sizing: border-box;
        content: ' ';
        position: absolute;
        width: 25rem;
        border-radius: 35px;
        background: rgba(128, 60, 5, 0.6);
        height: 18em;
        top: -5%;
        right: -16%;
        z-index: -1;
        margin: 0 0 .2em -1.1em;
    }

    .tonyheadshot {

        position: relative;
        margin: 25% 0% 0% 0%;
        z-index: 1;
        min-width: 35vw;
        border-radius: 200px;

    }

    .swing {
        box-sizing: border-box;
        font-size: 1.5em;
        position: absolute;
        bottom: 5%;
        left: 20%;
        z-index: 4;
        color: white;
        font-size-adjust: none;
        margin: 50 0 50 0;
        padding: 50 0 50 0;
    }
    .swing::before {
        box-sizing: border-box;
        content: ' ';
        position: absolute;
        width: 14em;
        border-radius: 5px;
        transform: skew(-10deg);
        background: rgba(128, 60, 5, 0.6);
        height: 3em;
        bottom: 0;
        z-index: -1;
        margin: 10em 0 0 -1.1em;
    }
    

}  */