@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


li{
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    color: rgb(131, 202, 253);
}

.navbar {
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 .7rem;
}

.logo {
    margin-right: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(131, 202, 253);
    color: black;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 14px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: black;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    position: absolute;
    top: 60px;
    right: 2rem;
    height: 0;
    width: 210px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 222px;
    padding: 5px 0;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}





/* Style the navigation menu * /
.navbar {
  overflow: hidden;
  background-color: #white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) * / 
.navbar #myLinks {
  display: none;
}

/* Style navigation menu links * /
.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu * /
.navbar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over * /
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) * /
.active {
  background-color: #04AA6D;
  color: white;
}


/* ------------------------------------------------------------------------ */

/* Changed the background on pages other than the home page */
body {
    background-image: url('../images/light-nobg.png'), url('../images/lion-solo.jpg');
    background-size: 960px;
    background-position: right -30vh, left calc(100% + 70vh); /* Initial position */
    transition: background-position 2s ease-in-out;
    margin: 0;
}

body.fly-in {
    background-position: right top, left calc(100% + 4.8em); /* Final position */
}

/* Changed to center on pages other than the home page */
.intro {
    margin: 5% 15vw 5%;
}

.website-example {
    position: relative;
    padding: 1rem;
    padding-top: 21px;
    z-index: 0;
    color: white;
    overflow: hidden;
    border-radius: 35px;
}

/* Pseudo-element for the .intro to create a background effect */
.website-example::before {
    content: ' ';
    position: absolute;
    border-radius: 35px;
    background: linear-gradient(rgb(100,100,100,.93),black,rgba(31, 31, 31, 0.93));
    z-index: -1;
    inset: 0;   /* Stretch to cover parent */
}

/* Insert Code Here */
.website-example::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0; /* adjust to align with image top if needed */
    width: 120px; /* gradient width */
    height: 623px; /* same as your image max-height */

    background: linear-gradient(to left, rgba(0,0,0,0.85), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 2; /* above background but below text */
}

#hibana-example::after {
    height: 180px; /* same as your image max-height */
}
/* Insert Code Here */

.wide-image {
    max-height: 601px;
    border-radius: 20px;
}

.ticket {
    max-height: 600px;
    padding-bottom: 20px;
}

#ticket14 {
    position: absolute;
    inset: 36px 60px;
    transform: rotate(6deg)
}

#christmas-tickets {
    max-height: 590px;
    position: absolute;
    inset: 33px;
    z-index: -1;
}

/* Changed the footer text color to be more visible on dark background */
.footnote:link, .footnote:visited {
    color: rgb(200, 200, 200);
}
.footnote:hover, .gen-link:active {
    color: rgb(230, 230, 230);
}

@media (max-width: 960px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block
    }

    .dropdown_menu {
        display: block;
    }


    /* Changed to adjust intro background margin on smaller screens */
    .intro {
        margin: 5% 15vw 25%;
    }

    body {
        background-position: top 0px, left calc(100%+50vh);  /* Initial position for smaller screens */
        transition: background-position 1.2s ease-out;
    }

    body.fly-in {
        background-position: right top, center calc(100% + 4.8em); /* Final position for smaller screens */
    }   

    #christmas-tickets {
        max-height: 400px;
    }

    .ticket {
        max-height: 400px;
    }

    .wide-image {
        max-height: 411px;
    }

    .website-example::after {
        height: 433px
    }

}