@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Changed to remove background on pages other than the home page */
body{
    background-image: none;
}

/* Changed to center on pages other than the home page */
.intro {
    margin: 5% 15vw 5% 15vw;
}

/* Changed the footer text color to be more visible on dark background */
.footnote:link, .footnote:visited {
    color: rgb(61, 61, 61);
}
.footnote:hover, .gen-link:active {
    color: rgb(114, 114, 114);
}

@media (max-width: 960px) {
/* Changed to adjust intro background margin on smaller screens */
.intro {
    margin: 5%;
}
}